# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.db
# C extensions
*.so

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
__pycache__/
*.egg-info/
*.egg
*.dylib

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Python tools
.idea/
.vscode/
.redcar/
ropeproject/

# Django stuff:
*.log
local_settings.py

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Sublime Text
*.sublime-workspace
*.sublime-project

# PyCharm
.idea

# Vim
*.swp

# Mac
.DS_Store
.AppleDouble
.LSOverride

# Editors
*~
